body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border-radius: 8px;
  border: 1px solid black;
}

.album__role {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.album_input {
  text-align: center;
}

.album{
  padding: 70px;
  margin: 10px;
}

.albumImage{
  height: 300px;
  width: 300px;
}
